node_modules
?npm-lock*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Seed
/scripts/seed/data/*
/scripts/seed/seed.config.json

# SQL Sessions
/*.session.sql

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Heavy files
*.db